.text-center1{
    text-align: center;
}

.text-right1{
  text-align: right;
}

.items-center1{
    margin-left:auto;
    margin-right:auto;
}

.bg-grey1{
    background-color: #c01b68;
}

.border-spacing1{
  border-spacing: 0px;
}

.centrer1{
  max-width: 700px;
  margin: 0 auto;
  text-align: justify;
}

.centrer2{
  max-width: 400px;
  margin-left: 230px;
  text-align: justify;
}

table{
  border: 2px solid black;
}

th, td{
  border: 1px solid #dddddd;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.hide1{
    color: black;
    text-decoration:none;
}
li {
  display: block;
}

.Roboto1{
  font-family: 'Roboto', sans-serif;
}


.text-right1{
  text-align: right;
}

.peralta1{
  font-family: 'Abyssinica SIL', serif ;
}

.audio-container1{
  display: flex;
  justify-content: right;
  align-items: right;
}

.Artifika1{
  font-family: "Artifika", serif;
}

.underline1{
  color: black;
  text-decoration:underline;
}

.margin-right1{
  margin: 0px 35px 0px 0px;        
}
body{
  background-image: url("../image/FOND.jpg") ;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%
}


.bg-white1{
  background-color:white;
  opacity: 1;
}

.centrer3{
  max-width: 700px;
  margin: 0 auto;
  text-align: justify;
  background-color: white;
  }

.font {
  border: 5px black;
  border-radius: 10px;
  background-color: white;
  color: black;
  width: 450px;
  height: 660px;  
  opacity: 0.750;
}

#logo{
  align-items: flex-end;  
}

.bold{
  font-weight: bold;
}
.italic{
  font-style: italic;
}

.removebold{
  font-weight:normal;
}

.textcompo{
  font-size: 0.75em;
}

.textcard{
  font-size: 0.90em;
}

audio{
  height: 3em;
  width: 25em;
}

.space1{
  display: flex;
  justify-content: space-around;
}

.bg-perso{
  background-color: rgba(255, 255, 255, 0.8 );
}
